<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevinye.server.mapper.AuditorMapper">
    <insert id="importAuditors">
        insert into auditor (auditor_name, username, phone, email, market_id, password)
        VALUES
        <foreach collection="auditors" separator=","  item="auditor">
            (#{auditor.auditorName},#{auditor.username} ,#{auditor.phone},#{auditor.email},#{auditor.marketId},#{auditor.password})
        </foreach>
    </insert>

    <select id="getAllAuditors" resultType="com.kevinye.pojo.Entity.Auditor">
        select id as auditorId, auditor_name, username, phone, email, market_id, password from auditor
        <where>
            <if test="name != null and name != ''">
                auditor_name like concat('%',name,'%');
            </if>
            <if test="marketIds != null and marketIds.size() > 0">
            and market_id in
            <foreach collection="marketIds" item="marketId" open="(" separator="," close=")">
                #{marketId}
            </foreach>
            </if>
        </where>
    </select>
</mapper>