<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevinye.server.mapper.MarketMapper">


    <select id="getMarketByName" resultType="com.kevinye.pojo.Entity.Market">
        select  * from supermarket
        <where>
            <if test="marketName!= null and marketName !='' ">
                market_name like concat('%',marketName,'%')
            </if>
        </where>
    </select>
</mapper>