<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevinye.server.mapper.TotalMapper">
    <select id="getTopGoodList" resultType="com.kevinye.pojo.VO.TopGoodVO">
        select
            s.good_id,
            g.good_name,
            sum(s.initial_goods*g.price) as total_sales #这里先用sales来存储数量，后面在service类直接重写
            from
                storage s
                join goods g on s.good_id = g.id
            where
                s.date
                    between
                    #{beginDate}
                    and
                    #{endDate}
            group by
                s.good_id
            order by
                total_sales desc
    </select>
    <select id="getTopMarketList" resultType="com.kevinye.pojo.VO.TopMarketVO">
        select
            s.market_id,
            m.market_name,
            sum(s.initial_goods*g.price) as total_sales
        from
            storage s
            join supermarket m on market_id = m.id
            join goods g on s.good_id = g.id
        where
            s.date
                between
                #{beginDate}
                and
                #{endDate}
        group by
            s.market_id
        order by
            total_sales desc
    </select>
    <select id="getMonthData" resultType="com.kevinye.pojo.Entity.DayData">
        SELECT
        s.date,
        SUM(s.initial_goods * g.price) AS day_sales
        FROM
        storage s
        INNER JOIN goods g ON s.good_id = g.id
        <where>
            <if test="goodId != null">
                s.good_id = #{goodId}
            </if>
            <if test="beginDate != null and endDate != null">
                AND s.date BETWEEN #{beginDate} AND #{endDate}
            </if>
        </where>
        GROUP BY s.date
    </select>

    <select id="getYearData" resultType="com.kevinye.pojo.Entity.MonthData">
        select
            MONTH(s.date) as month,
            sum(s.initial_goods*g.price) as month_sales
        from
            storage s
            inner join goods g on s.good_id = g.id
        WHERE
            <if test="goodId != null">
                s.good_id = #{goodId} and
            </if>
        s.date between #{beginDate} and #{endDate}
        group by
            MONTH(s.date)
    </select>
    <select id="getMonthSales4Markets" resultType="com.kevinye.pojo.Entity.MarketGrowth">
        select
            market_id,
            supermarket.market_name,
            sum(initial_goods*g.price) as month_sales
        from
            storage s
            inner join goods g on s.good_id = g.id
            inner join supermarket on supermarket.id = s.market_id
        where
            s.date between #{beginDate} and #{endDate}
        group by
            s.market_id
        order by
            s.market_id
    </select>
    <select id="getMonthSales4Goods" resultType="com.kevinye.pojo.Entity.GoodGrowth">
        select
            good_id,
            g.good_name,
            sum(initial_goods*price)
        from
            storage s
            inner join goods g on s.good_id = g.id
        where
            s.date between #{beginDate} and #{endDate}
        group by
            good_id
        order by
            good_id
    </select>
</mapper>